body {
  font-size: 18px;
  line-height: 1.5;

  &:not(.dark-mode) {
    --dark-sky: #53bde6;
    --light-sky: #cdfdff;
    --planet-color: #ffe130;
    --link-color: #007acc;
    --text-color: inherit;
    --planet-emoji: "🕶️";
  }

  &.dark-mode {
    --dark-sky: #000;
    --light-sky: #122627;
    --planet-color: #fff;
    --link-color: #ffeb00;
    --text-color: #fffee9;
    --planet-emoji: "👀";
  }
}

video {
  width: 100%;
}