---
---

@import "{{ site.theme }}";
$comment-color: #d0d0d0;

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
}

.main-container {
  @media (min-width: 768px) {
    display: flex;
  }
}

.highlight {
  margin-right: 0;
  margin-left: 0;
}

.site-tags {
  padding-left: 30px;

  a {
    white-space: nowrap;
  }
}

.tags a {
  color: $comment-color;
}

.logo {
  color: inherit;
  text-decoration: inherit;
  text-shadow: inherit;
}

.shout {
  transform: scaleX(-1);
  display: inline-block;
}

.post:not(.last):not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #b5e853;
}

footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 40px 0 0 0;
}