.footer {
  text-align: center;
  padding-block: 15px;
  background: #000;
  box-shadow: 0 0 10px #000000;

  color: #b5e853;
  font-family: monospace;

  &::before {
    content: "";
    display: block;
    height: 25px;
    // https://www.kirupa.com/css/circles_radial_gradient.htm
    background: radial-gradient(5px circle at 10px 10px, #fe6158 100%, transparent),
                radial-gradient(5px circle at 27px 10px, #febe2f 100%, transparent),
                radial-gradient(5px circle at 44px 10px, #28c940 100%, transparent);
  }

  a, a:link, a:visited {
    color: #63c0f5;
  }

  .no-copyright {
    vertical-align: middle;
  }
}
