@import "../../styles/mixins";

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
}

.content {
  flex: 1;
  background: linear-gradient(
    var(--light-sky) calc(100% - 60px),
    #8ab807 calc(100% - 40px),
    #563a2c calc(100% - 10px),
    #563a2c 100%
  );
  padding-bottom: 30px;

  img {
    max-width: 100%;
  }
}
