@import "../../styles/mixins";

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
}

.content {
  flex: 1;
  background: linear-gradient(
    var(--light-sky) 97%,
    #8ab807 99%,
    #563a2c 99%,
    #563a2c 100%
  );

  a {
    color: var(--link-color) !important;
  }
}
