.line-number-style {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  width: 1.2em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.3;
  text-align: center;
  position: relative;
}